/*
Welcome to your colors and fonts file!
This is also a CSS stylesheet, but built entirely out of variables.
Variables are like nicknames for a property, that you can use throughout your stylesheet.
This lets us manage the main aeshetic things like color in one place, without having to hunt
for every occurrence of the color in our code because that takes too long and we're busy people!
We have rivers to swim in and inspirations to gather and zines to make!

The main thing you wanna do is change the right-hand value to whatever color or font you prefer.
This is using CSS color properties, which you can find out more about here: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
*/


:root{
    /* Colors */

/* IMPORTANT: These are the default values for the variables, but the site is designed for you.
              to set your own through the site interface.  The ones you set are placed in custom.css.
              If you want to set these manually, I recommend doing so in that file instead of here.
              as all the colors here will be overwritten by what's in custom.css.
*/
    --primary_bg: url('../zine/shinkae-tree-kiss.jpg') no-repeat center center fixed;
    --background-color: #174F17;
    --primary-color: #174F17;
    --accent-color: rgba(112, 244, 114, 1);
    --gradient-display:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(112, 244, 114, 0.5)) ;

    /* The font and font variables are good to adjust manually here, tho.  Do it!  Live Free! */
    /* Fonts choices */
    --primary_text: 'IBM-Plex-Sans';
    --secondary-font: 'charterregular';  /*this would be if you wanted the title to be a different font.  I don't. */
    --italic-font: 'charteritalic';
    --bold-font: 'charterbold';

    /* Font Sizes */
    --body-text_size: 25px;
    --body-text_size-mobile: 4vw; /* vw is the width of the screen.  So each character is roughly 4% of the width of the screen. */
    --title-text_size: 1.4em; /* 1em is equal to whatever you set the body-text_size.  So our headings are 1.4 times larger than the body.*/
    --byline-text_size: 0.75em;                         
} 

/*
  Code to import our font files into our stylesheet.  We are naming our fonts here, and then the path to find the font-file.  So if you want to add another font, you'd follow a v. similar pattern: put the font into the fonts, folder, then add a font-face object like you see here.
*/
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-TextItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
