 
      /*
      Welcome to your custom CSS!
      These variables make up the majority of the colors used
      throughout the site.  So adjusting this is a quick way
      to change your site's aesthetic.
      Go ahead, try it out!
      */
      :root{
        /* 
          We are pulling the image! for our bg from the zine folder
          you wanna ensure our relative path is correct.
          and so primary-bg should look like 'url(../zine/image.gif')'
        */
        --primary-bg: url(../zine/tulips.gif);
        --bg-size: auto;
        --bg-position: 50% 50%;
        --bg-repeat: repeat;
        --background-color: #d3df2a;
        --primary-color: #d3df2a;
        --accent-color: #be4334;
        --gradient-display: linear-gradient(rgba(0, 0, 0, 0.5), rgba(190, 67, 52, 0.5));
      }
               