:root {
  --edit-page-height: calc(100% -6rem);
  --margin-from-top: calc(100vh / 8);
}

body, html, section, div, h1, h2, h3, h4, p, ul, li, a, figure, img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: var(--primary-bg);
  background-position: var(--bg-position);
  background-size: var(--bg-size);
  background-repeat: var(--bg-repeat);
  background-color: var(--primary-color);
  font-family: var(--primary_text); 
  font-size: 25px;
  font-weight: 200;
  color: var(--accent-color);
}

section#finalize {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

section#finalize h2 {
  font-size: 3em;
  text-style: italic;
}

section#finalize button {
  font-size: 1.5rem;
  background: var(--accent-color);
  color: var(--primary-color);
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

/*
This div#aesthetic hack isn't real!
I mean it's on our index.html page, but it has no purpose!
I'm using this div as a way to grab color values for our gradient top
and bottom, to use in the edit pages.
It was the easiest way I could find to grab CSS values quickly.
It works, but it's strange, but you know what?  So is life.

"What is the world we find ourselves in?
 It's the place between what can always be
 and what should have been."
- Dave Matthews, 'ants go marching'
*/
div#aesthetic-hack {
  display: none;
  background-color: var(--gradient-top);
  color: var(--gradient-bottom);
}
