<script>
import marked from 'marked';

import CharmBracelet from '../components/charm-bracelet.svelte';
import { distro } from '../stores/distro.js';
import { songIsland } from '../stores/songIsland.js';
</script>

<CharmBracelet />
<main class='distro'>
  <div class="distro-words">
    <section class="bylines">
      <strong>{$songIsland.song} by {$songIsland.artist}</strong>
      {#if $distro.creator}
      <p>A song island crafted by {$distro.creator}
        {#if $distro["creation date"]}
        on {$distro["creation date"]}
        {/if}
      </p>
      {/if}
    </section>

    {#if $distro["creator homepage"]}
    <section class='homepage'>
      <p> {$distro.creator}'s homepage is <a href="{$distro["creator homepage"]}">{$distro["creator homepage"]}</a></p>
    </section>
    {/if}

    {#if $distro.sharing}
    <p>
      For sharing, they requested:
      <quote>
        {@html marked($distro.sharing)}
      </quote>
    </p>
    {/if}

    {#if $distro.riyl || $distro.moods}
    <section class="tags">
      <strong>they've offered these tags for your library:</strong>
      {#if $distro.riyl}
      <div class='tagList'>
        <p>Recommended If You Like</p>
        <ul>
          {#each $distro.riyl as rec}
          <li>{rec}</li>
          {/each}
        </ul>
      </div>
      {/if}
      {#if $distro.moods}
      <div class="tagList">
        <p>Moods</p>
        <ul>
          {#each $distro.moods as mood}
          <li>{mood}</li>
          {/each}
        </ul>
      </div>
      {/if}
    </section>
    {/if}

  </div>
</main>

<style>

main.distro {
  color: var(--primary-color);
  font-size: 1.5em;
  width: 100%;
  padding: 3rem;
  background: var(--gradient-display);
  opacity: 1;
  font-weight: 300;
}

div.distro-words {
  width: 90%;
  -webkit-text-stroke: var(--accent-color);
  -webkit-text-stroke-width: 0.25px;
}

div.tagList {
  margin-top: 1em;
  background: var(--primary-color);
}

div.tagList p {
  text-align: center;
  font-variant-caps: small-caps;
  background: var(--accent-color);
  color: var(--primary-color);
}

div.tagList ul {
  list-style-type: none;
  color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.tagList li {
  margin-right: 1em;
}


strong {
  color: var(--primary-color);
  font-size: 1em;
}

p {
  color: var(--primary-color);
}


quote {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
}

section {
  margin-bottom: 2rem;
}

section.tags {
  margin-top: 2rem;
}

</style>
