<script>
import CharmBracelet from '../components/charm-bracelet.svelte';
import Legend from '../components/legend.svelte';
import TopBar from '../components/top-bar.svelte';
import FiveNext from '../components/icons/five-next.svelte';
import FivePrev from '../components/icons/five-prev.svelte';
import CatTheme from '../components/icons/cat-theme.svelte';
import CatFavicon from '../components/icons/cat-favicon.svelte';
import Play from '../components/icons/play.svelte';
import Pause from '../components/icons/pause.svelte';

import { songIsland, links } from '../stores/songIsland.js';
import { audio } from '../stores/audio.js';
</script>

<CharmBracelet />
<div class='links-player'>
  <TopBar>
    <p>{$songIsland.song} by {$songIsland.artist}</p>
    <CatFavicon scale="0.75"/>
  </TopBar>
  <div id='links'>
    <ul>
      {#if $links}
      {#each $links as link }
      <li><a href={link.url} target="_blank" rel="noopener noreferrer">{link.name}</a></li>
      {/each}
      {/if}
    </ul>
  </div>
  <div class='controls'>
    <FivePrev click={()=> $audio.time = $audio.time - 5} />
    {#if $audio.paused}
      <Play click={()=> $audio.audio.play()} />
    {:else}
      <Pause click={()=> $audio.audio.pause()}/>
    {/if}
    <FiveNext click={()=> $audio.time = $audio.time + 5}/>
  </div>
</div>

<style>
div.links-player {
  position: relative;
  margin: auto;
  margin-top: calc(100vh / 8);
  max-width: 800px;
  min-height: 300px;
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--accent-color);
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

p {
  font-style: italic;
  font-weight: 300;
}

div.controls {
  width: 100%;
  height: 25%;
  background: var(--primary-color);
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li {
  background: var(--accent-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 0.5rem;
  font-size: 1.5em;
  padding: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
}
</style>
