<script>
import {songIsland} from '../stores/songIsland.js'
import { createEventDispatcher } from 'svelte';
import FiveNext from '../components/icons/five-next.svelte';
import CharmBracelet from '../components/charm-bracelet.svelte';
import Legend from '../components/legend.svelte';

const dispatch = createEventDispatcher();
const request = (text) => dispatch('request', {text});
</script>

<CharmBracelet />
<Legend/>
