<script>
import {slide} from 'svelte/transition';
import { getContext } from 'svelte';
import { createEventDispatcher } from 'svelte';
import CharmBracelet from '../components/charm-bracelet.svelte';
import Legend from '../components/legend.svelte';
import TopBar from '../components/top-bar.svelte';
import FiveNext from '../components/icons/five-next.svelte';
import FivePrev from '../components/icons/five-prev.svelte';
import CatTheme from '../components/icons/cat-theme.svelte';
import CatFavicon from '../components/icons/cat-favicon.svelte';
import Play from '../components/icons/play.svelte';
import Pause from '../components/icons/pause.svelte';
import WritingBody from '../components/icons/writing-body.svelte';
import { songIsland } from '../stores/songIsland.js';
import { audio, ct, dt } from '../stores/audio.js';

const handleMouseDown = (e) => {
  let progress = document.querySelector("progress")
  let {left, right} = progress.getBoundingClientRect()
  let time = $audio.duration * (e.clientX - left) / (right - left);
  $audio.time = time
}
</script>

<CharmBracelet />
<div class="player">
  <TopBar />
  <div class='display'>
    <marquee>
      {$songIsland.song} - {$songIsland.artist}
    </marquee>
    <div class='time'>
      <p>{$ct}</p>
      <CatFavicon scale="0.75" fill="var(--primary-color)"/>
      <p>{$dt}</p>
    </div>
    <progress on:mousedown={handleMouseDown}
              max={$audio.duration}
              value={$audio.time}>
      {$ct}
    </progress>
  </div>
  <div class='controls'>
    <FivePrev click={() => $audio.time = $audio.time - 5} />
    {#if $audio.paused}
    <Play click={() => $audio.audio.play()}/>
    {:else}
      <Pause click={() => $audio.audio.pause()}/>
    {/if}
    <FiveNext click={() => $audio.time = $audio.time + 5}/>
  </div>
  <div class="flair">
    <CatTheme />
  </div>
</div>
<Legend />

<style>
div.player {
  position: relative;
  max-width: 300px;
  height: 450px;
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  z-index: 1;
  margin: auto;
  margin-top: calc(100vh / 8);
  color: var(--primary-color);
}

div.display {
  border: 10px solid var(--primary-color);
  border-top: none;
  height: 45%;
  max-width: 100%;
  background: var(--gradient-display);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

marquee.title-and-artist {
  font-size: 1.3rem;
  padding-top: 0.5em;
  color: var(--primary-color);
}

div.time {
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.controls {
  width: 100%;
  height: 25%;
  background: var(--primary-color);
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.45em;
  width: 75%;
  margin: 0.5em;
  position: relative;
}

progress::-webkit-progress-bar {
  background: transparent;
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: var(--primary-color);
}
div.flair {
  height: 15%;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}
</style>
