<script>
import {songIsland} from '../stores/songIsland.js';
import { audio } from '../stores/audio.js';
import { link } from 'svelte-routing';
</script>

<section id='title-block'>
<h1>“{$songIsland.song}”</h1>
<h2>{$songIsland.artist}</h2>
  <a href="/main" on:click={() => $audio.audio.play()} use:link>enter</a>
</section>

<style>
#title-block {
  height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 200;
  color: var(--primary-color);
}

h2 {
  font-size: 3em;
  font-weight: 400;
  color: var(--primary-color);
}

a {
  width: 3em;
  margin: auto;
  border: none;
  margin-bottom: 2em;
  font-size: 2rem;
  color: var(--accent-color);
  background: var(--primary-color);
  margin-top: 1rem;
  text-align: center;
  border: 1px solid var(--primary-color);
}
a:hover {
  text-decoration: none;
  border: 1px solid var(--accent-color);
}
</style>
