<script>
  import { link } from 'svelte-routing';
  import Audio from './icons/audio.svelte';
  import Words from './icons/words-link.svelte';
  import Links from './icons/links-link.svelte';
  import CatDistro from './icons/cat-distro-link.svelte';
  import Edit from './icons/edit-link.svelte';
</script>

<nav id='charm-bracelet'>
  <ul>
    <li><a href='/song' title="song player"use:link><Audio scale="0.75"/></a></li>
    <li><a href='/words' use:link><Words scale="0.75" /></a></li>
    <li><a href='/links' use:link><Links scale="0.75" /></a></li>
    <li><a href='/from-the-distro' use:link><CatDistro scale="0.75" /></a></li>
    <li id='edit-link'><a href="/edit" use:link><Edit scale="0.75"/></a></li>
  </ul>
</nav>

<style>
nav {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: var(--primary-color);
  color: var(--accent-color);
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

ul {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

li {
  margin-right: 1em;
  margin-bottom: 0;
}
li:first-child {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0;
}

li#edit-link {
  margin-left: auto;
}

a {
  justify-content: space-around;
  margin-bottom: 0;
  color: var(--accent-color);
  text-decoration: none;
}

</style>
