<script>
import { songIsland } from '../stores/songIsland.js'
</script>

<section id='legend'>
<h1>“{$songIsland.song}”</h1>
<h2>{$songIsland.artist}</h2>
</section>

<style>
section#legend {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  animation: fadeIn ease-in 4s;
  color: var(--primary-color);
}

section#legend h1 {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 200;
}
section#legend h2 {
  margin: 0;
  padding-left: 0.75em;
  font-size: 0.75em;
  font-weight: 200;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
</style>
