<script>
import XButton from './icons/x-button.svelte';
</script>

<div class="top-bar">
  <XButton scale="0.5" />
  <slot></slot>
</div>

<style>
div.top-bar {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 25px;
  border-radius: 5px 5px 0 0;
  background: var(--primary-color);
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
</style>
