<script>
import CatTheme from '../../components/icons/cat-theme.svelte'
import CatFavicon from '../../components/icons/cat-favicon.svelte';
import { aesthetic, gradientDisplay } from '../../stores/new-aesthetic.js';
</script>

<section id='edit-aesthetic'
         style="
         --primary-bg: {$aesthetic.picture};
         --bg-size: {$aesthetic.backgroundSize};
         --bg-repeat: {$aesthetic.backgroundRepeat};
         "
         >
  <div id='aesthetic' >
    <div id='heading'
         style="
         --primary-color: {$aesthetic.primaryColor};
         --accent-color: {$aesthetic.accentColor};
         --fill: {$aesthetic.accentColor};
         --bg-repeat: {$aesthetic.backgroundRepeat};
         ">
      <CatFavicon/>
      <h2 >A E S T H E T I C</h2>
      <CatFavicon scale="0.5"/>
    </div>
    <form style= "
         --primary-color: {$aesthetic.primaryColor};
         --accent-color: {$aesthetic.accentColor};
         --gradient-display: {$gradientDisplay};
                  ">
      <div class='form-group'>
        <label for='primaryColor'>Primary Color: </label>
        <input id='primaryColor' type='color' bind:value={$aesthetic.primaryColor}/>
      </div>
      <div class='form-group'>
        <label for='accentColor'>Accent Color: </label>
        <input id='accentColor' type='color' bind:value={$aesthetic.accentColor}/>
      </div>
      <fieldset>
        <legend>Style the Gradient Display</legend>
        <div class='form-group'>
          <label for='gradientTop'>Top of Gradient: </label>
          <input id='gradientTop' type='color' bind:value={$aesthetic.gradient.top} />
        </div>
        <div class='form-group'>
          <label for='gradientBottom'>Bottom of Gradient: </label>
          <input id='gradientBottom' type='color' bind:value={$aesthetic.gradient.bottom} />
        </div>
        <div class='form-group'>
          <label for='opacity'>opacity: </label>
          <input id='opacity' type='range' min='0.0' max='1.0' bind:value={$aesthetic.gradient.opacity} step='0.1' />
        </div>
      </fieldset>
    </form>
    <div id='theme-example' style='fill: {$aesthetic.accentColor}; background-color: {$aesthetic.primaryColor};'>
      <CatTheme scale="0.5"/>
    </div>
 </div>
</section>

<style>
section#edit-aesthetic {
  min-height: 100%;
  min-width: 100%;
  background-image: var(--primary-bg);
  background-color: var(--background-color);
  background-size: var(--bg-size);
  background-repeat: var(--bg-repeat);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
}

form {
  background: var(--gradient-display);
  color: var(--primary-color);
  font-weight: 400;
  padding: 2rem;
}

div#theme-example {
  display: flex;
  justify-content: center;
}

div#aesthetic svg {
  width: unset;
  fill: inherit;
}

div#aesthetic {
  position: relative;
  border-radius: 10px;
  width: 80%;
}

div#heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--accent-color);
  fill: var(--fill);
}

</style>
