<script>
   import { newDistro, riyl } from '../../stores/new-distro.js';
 import { afterUpdate } from 'svelte';

let add = (list) => $newDistro[list] = $newDistro[list].concat([''])
let remove = (selection, list) => {
  $newDistro[list] = $newDistro[list].filter(item => item != selection)
}
 </script>

<section id='edit-distro'>
  <div class='helper-text'>
    <p>This is useful information when you are sharing your song Island (like to zine libraries or song collections).  It's to tell otothers who you are and how you'd like this song island to be shared.</p>
  </div>
  <form>
    <div class='form-group'>
      <label for="creator">Who Are You?</label>
  <input id='creator' type='text' bind:value={$newDistro.creator}/>
    </div>
    <div class='form-group'>
      <label for="creator homepage">What's yr homepage?</label>
      <input id='creator homepage' type='text' bind:value={$newDistro["creator homepage"]} placeholder='dat:// or https://' />
    </div>
    <div class='form-group'>
      <label for="creation date">When did you make this song island?</label>
  <input id='creation date' type='date' bind:value={$newDistro["creation date"]} />
    </div>
    <div class='form-group'>
      <label for="sharing">Do you have any requests for how this is shared?</label>
      <input id='sharing' type='text' bind:value={$newDistro.sharing} />
    </div>
    <div class='riyl'>
      <h2>Recommended if you like...</h2>
      <p> what bands, artists, and other things are good comparison points for this song?</p>
      {#each $newDistro.riyl as rec}
        <div>
          <input bind:value={rec} />
          <button on:click|preventDefault={() => remove(rec, 'riyl')}>X</button>
        </div>
      {/each}
      <button on:click|preventDefault={() => add('riyl')}>Add</button>
    </div>
    <div class='moods'>
      <h2>Moods...</h2>
      <p>What moods fit this song? </p>
      {#each $newDistro.moods as mood}
        <div>
          <input bind:value={mood} />
          <button on:click|preventDefault={() => remove(mood, 'moods')}>X</button>
        </div>
      {/each}
      <button on:click|preventDefault={() => add('moods')}>Add</button>
    </div>
  </form>
</section>
