<script>
  import { newSongIsland } from '../../stores/new-songIsland.js';
  import { songIsland } from '../../stores/songIsland.js';
  import {onMount} from 'svelte';

  export let section;
</script>

<section>
  <p>Here you can edit all the details of this song island.</p>
  <p>click the links on the side to edit individual sections.</p>
  <p>Click save when done.</p>
  <p>Click cancel to go back to yr page!</p>
</section>
