<script>
import { onMount, beforeUpdate } from 'svelte';
import { aesthetic } from '../../stores/new-aesthetic.js';
import { newSongIsland } from '../../stores/new-songIsland.js';

let handlePictureChange = (e) => {
  // the browser won't want to read from local files directly 
  // for security reasons, so we make our image into a safe
  // browser ready blog.
  let image = e.target.files[0]
  let imageBlob = URL.createObjectURL(image);
  // TODO don't make this a dupe. figure yr shit out.  keep it cleeean.
  $aesthetic.pictureFile = image;
  $aesthetic.picture = `url(${imageBlob})`;
  $newSongIsland.pictureFile = image;
  $newSongIsland.picture = `zine/${image.name}`;
}
</script>

<section
  id='edit-backdrop'
  style="
         --background-color: {$aesthetic.backgroundColor}; 
         --primary-bg: {$aesthetic.picture};
         --bg-size: {$aesthetic.backgroundSize};
         --bg-repeat: {$aesthetic.backgroundRepeat};
         --primary-color: {$aesthetic.primaryColor};
         --accent-color: {$aesthetic.accentColor};
         "
  >
  <form >
    <div class='form-group'>
      <label for='picture'>Background Image: </label>
      <input id='picture' type='file' accept='.jpg, .jpeg, .png, .gif' on:change={handlePictureChange}/>
    </div>
    <div class='form-group'>
      <label for='backgroundColor'>Background Color: </label>
      <input id='backgroundColor' type='color' bind:value={$aesthetic.backgroundColor} />
    </div>
    <div class='form-group'>
      <label for='backgroundSize'>Background Size: </label>
      <select id='backgroundSize' bind:value={$aesthetic.backgroundSize}>
        <option value='contain'>contain</option>
        <option value='cover'>cover</option>
        <option value='auto'>auto</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='backgroundPosition'>Background Position: </label>
      <select id='backgroundPosition' bind:value={$aesthetic.backgroundPosition}>
        <option value='contain'>top</option>
        <option value='bottom'>bottom</option>
        <option value='left'>left</option>
        <option value='right'>right</option>
        <option value='center'>center</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='backgroundRepeat'>Background Repeat: </label>
      <select id='backgroundRepeat' bind:value={$aesthetic.backgroundRepeat}>
        <option>Repeat</option>
        <option>No-Repeat</option>
      </select>
    </div>
  </form>
</section>

<style>
section#edit-backdrop {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--background-color);
  background-image: var(--primary-bg);
  background-size: var(--bg-size);
  background-repeat: var(--bg-repeat);
}

form {
  position: relative;
  width: 50vw;
  height: 50vh;
  padding: 1em;
}

#edit-backdrop div.with-bg {
  opacity: 0;
}

#edit-backdrop div.with-bg:hover {
  opacity: 1;
}

#edit-backdrop form input[type=submit] {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5em;
  font-weight: 300;
  background: aliceblue;
  color: black;
}

#edit-backdrop form input:disabled {
  display: none;
}

</style>
