<script>
import { newSongIsland, links } from '../../stores/new-songIsland.js';
import { aesthetic } from '../../stores/new-aesthetic.js';
import XBox from '../../components/icons/x-button.svelte';
import AddLink from '../../components/edit/add-link.svelte';
import {audio} from '../../stores/audio.js'
import * as mm from 'music-metadata-browser';


$: editing = $newSongIsland.src === '';
   
function handleSongUpload (e) {
  let songInput = document.querySelector('#song-src')
  let songFile = songInput.files[0]
  $newSongIsland.file = songFile;
  mm.parseBlob(songFile).then(metadata => {
    $newSongIsland.song = metadata.common.title
    $newSongIsland.artist = metadata.common.artist
  })
};

function handleSubmit (e) {
  e.preventDefault();
  $audio.audio.pause();
  $audio.time = 0;
  $newSongIsland.src = `zine/${$newSongIsland.file.name}`
  $audio.audio.src = URL.createObjectURL($newSongIsland.file);
  $audio.audio.play();
}

function removeLink (chosenLink) {
  $newSongIsland.links = $newSongIsland.links.filter(link => link.name !== chosenLink.name && link.url !== chosenLink.url)
}
</script>

<section id='edit-song'
         style="
                --primary-color: {$aesthetic.primaryColor};
                --accent-color: {$aesthetic.accentColor}
                ">
  {#if !editing}
  <div id='edit-song-details'>
    <h2>{editing ? "Pick a Song" : "Current Song" }</h2>
    <p>
      {$newSongIsland.song} by {$newSongIsland.artist}
      <button on:click={() => $newSongIsland.src = ''}>Edit</button>
    </p>
  </div>
  {:else}
  <div id='edit-song-input'>
    <h3>Change Song</h3>
    <form>
      <div class='form-group'>
        <label for='song-src'>Pick Song:</label>
        <input id='song-src' type='file' accept='.mp3, .ogg, .flac' on:change={handleSongUpload}/>
      </div>
      <div class='form-group'>
        <label for='song-title'>Song Title:</label>
        <input id='song-title' type='text' bind:value={$newSongIsland.song}/>
      </div>
      <div class='form-group'>
        <label for='song-artist'>Artist:</label>
        <input id='song-artist' type='text' bind:value={$newSongIsland.artist}/>
      </div>
      <input type='submit' on:click={handleSubmit} value='Looks Good!'/>
    </form>
  </div>
  {/if}
  <div id='edit-links'>
    <div id='links'>
      <h3>Links</h3>
      <ul id='edit-links-list'>
        {#each $links as link}
        <li>
          <button>
            <XBox click={() => removeLink(link)} isLink={false}/>
          </button>
          <p>{link.name}</p>
          <p>{link.url}</p>
        </li>
        {/each}
      </ul>
      <AddLink />
    </div>
  </div>
</section>

<style>
#edit-song {
  color: var(--accent-color);
}
#edit-links {
  margin-top: 3em;
}

#edit-links h3 {
  margin-bottom: 0.5em;
  color: var(--accent-color);
}
ul#edit-links-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: 0;
}

ul#edit-links-list li {
  display: grid;
  grid-template-columns: minmax(1em, 2.5em) 1fr;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 1em 1em 0;
}

ul#edit-links-list p:first-of-type {
  background: var(--primary-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  text-align: center;
  font-weight: 300;
  margin: 0;
}

ul#edit-links-list p {
  margin: 0;
  font-weight: 300;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--accent-color);
  color: var(--primary-color);
}

ul#edit-links-list  button {
  background: none;
  margin: 0;
  border: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 3;
} 

ul#edit-links-list svg {
  height: 2em;
  width: 2em;
  fill: var(--accent-color);
}

div#edit-links {
  margin-top: 4em;
}

div#edit-links h3 {
  margin-bottom: 1em;
}

#edit-links li {
  font-size: 0.75em;
}

#edit-song-details {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#edit-song-details p {
  display: flex;
  color: var(--accent-color);
  align-items: center;
}

#edit-song-details button {
  margin-left: 1rem;
  background: var(--accent-color);
  color: var(--primary-color);
  border: none;
  font-weight: 400;
  font-size: 0.75em;
  display: flex;
}

div#links {
  margin-top: 2em;
}
div#edit-song-input {
  display: grid;
  grid-template-columns: minmax(1em, 2em) 1fr;
  margin-top: 1em;
  max-width: 80%;
}

div#edit-song-input h3 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  grid-row: 1 / -1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

div#edit-song-input form {
  border: 1px solid var(--accent-color);
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

div#edit-song-input label {
  background: var(--accent-color);
  color: var(--primary-color);
  font-weight: 300;
  opacity: 0.5;
}

div#edit-song-input input[type='text'] {
  color: var(--accent-color);
  background: none;
  border: none;
  border-bottom: 1px solid var(--edit_color);
  border-color: var(--accent-color);
  margin-left: 0.5em;
  padding: 0;
  font-size: 1em;
  font-weight: 200;
}

div#edit-song-input div.form-group {
  padding-top: 0.5em;
  padding-bottom: 0;
}

div#edit-song-input div.form-group:last-of-type {
  padding-top: 0;
  padding-bottom: 1em;
}

div#edit-song-input input[type=submit] {
  width: 100%;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--accent-color);
  color: var(--primary-color);
  border: none;
  font-size: 1em;
  opacity: 1;
}

section#edit-song {
  padding: 2em;
  color: var(--accent-color);
}

div#edit-song-input div.form-group,
div#add-links div.form-group {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: minmax(1em, auto) 1fr;
}

div#edit-song-input input[type=file] {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
</style>
