<script>
import { newSongIsland, words } from '../../stores/new-songIsland.js';
import { aesthetic, gradientDisplay } from '../../stores/new-aesthetic.js';
import XBox from '../../components/icons/x-button.svelte';
import AddLink from '../../components/edit/add-link.svelte';
</script>

<section id='edit-words'>
  <textarea
    style="
           --gradient-display: {$gradientDisplay};
           "
    bind:value={$newSongIsland.words} 
    placeholder='add your thoughts...'/>
</section>

<style>
section#edit-words {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
section#edit-words textarea {
  padding: 2em;
  width: 60%;
  min-height: 80%;
  background: var(--gradient-display);
  border-radius: 5px;
  color: var(--background-color);
  font-weight: 400;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  resize: none;
}

section#edit-words textarea:focus {
  outline: none !important;
  box-shadow: 0 0 20px var(--accent-color);
}

section#edit-words textarea::-webkit-scrollbar {
  background: none;
}

section#edit-words textarea::-webkit-scrollbar-track {
  border-left: 1px solid var(--primary-color);
  opacity: 0.5;
  background: none;
}

section#edit-words textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}

section#edit-words textarea::-webkit-scrollbar-thumb:vertical {
  height: 10px;
}

section#edit-words textarea::-webkit-scrollbar-track-piece {
  height: 30px;
}
</style>
