  <script>
  export let scale = 1;
export let fill= "var(--accent-color)";
</script>

  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="50" transform="scale({scale})" fill="{fill}">
  <path fill="none" d="M0 .5V0h30v.5q0 .5-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-4Q9 5 9 5.5t-.5.5h-1Q7 6 7 6.5v7q0 .5.5.5t.5.5v11q0 .5.5.5t.5.5v10q0 .5-.5.5t-.5-.5-.5-.5h-4q-.5 0-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v3q0 .5-.5.5H0V.5"/>
  <path d="M30 .5V0h6v6h-.5q-.5 0-.5.5v8q0 .5.5.5h.5v25h-.5q-.5 0-.5.5t-.5.5-.5.5-.5.5h-5q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5v-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5h3q.5 0 .5.5t.5.5q.5 0 .5-.5v-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5h-2q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5v17q0 .5.5.5t.5.5v14q0 .5-.5.5t-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v.5H5v-.5q0-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5-.5-.5v-1-1q0-.5-.5-.5H0v-2h.5q.5 0 .5-.5v-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5h4q.5 0 .5.5t.5.5q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1q0-.5.5-.5h1Q9 6 9 5.5t.5-.5h4q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5"/>
  <path fill="none" d="M35 6.5q0-.5.5-.5h.5v9h-.5q-.5 0-.5-.5v-1-1-1-1-1-1-1-1M28 8.5q0-.5.5-.5h2q.5 0 .5.5v12q0 .5.5.5t.5.5v7q0 .5-.5.5t-.5-.5-.5-.5h-3q-.5 0-.5.5t-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v7q0 .5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h5q.5 0 .5-.5t.5-.5.5-.5.5-.5h.5v10H10v-.5q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5h1q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5M0 45.5V45h.5q.5 0 .5.5v2q0 .5.5.5t.5.5.5.5h2q.5 0 .5.5v.5H0v-4.5"/>
</svg>
