  <script>
  export let scale = 1;
export let fill= "var(--accent-color)";
</script>

  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="31" transform="scale({scale})" fill={fill}>
  <path fill="none" d="M0 .5V0h14v.5q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v4q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5-.5.5H6v.5q0 .5.5.5h2q.5 0 .5.5v2q0 .5-.5.5t-.5.5v.5H0V.5M5.5 15H6v-.5q0-.5-.5-.5H4v.5q0 .5.5.5h1m-2-1H4v-.5q0-.5-.5-.5h-1q-.5 0-.5.5t.5.5h1"/>
  <path d="M14 .5V0h1v.5q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5h4q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5V0h1v2.5q0 .5.5.5t.5.5v8q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5H39v.5q0 .5-.5.5h-1q-.5 0-.5.5v3q0 .5.5.5h1q.5 0 .5.5v.5h-1.5q-.5 0-.5.5t-.5.5-.5.5v1q0 .5-.5.5t-.5.5q0 .5.5.5t.5.5v.5h-1.5q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5v.5H18v-.5q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5H8v-.5q0-.5.5-.5t.5-.5v-1q0-.5-.5-.5H8v-.5q0-.5.5-.5t.5-.5v-1-1q0-.5-.5-.5h-2q-.5 0-.5-.5V15h2.5q.5 0 .5-.5t.5-.5.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5M29.5 25q.5 0 .5-.5V24h-3v.5q0 .5.5.5h2m.5-1.5v.5h.5q.5 0 .5-.5V23h-.5q-.5 0-.5.5m1-1v.5h.5q.5 0 .5-.5v-1q0-.5-.5-.5t-.5.5v1M26.5 24h.5v-.5q0-.5-.5-.5H25v.5q0 .5.5.5h1m-2-1h.5v-.5-1-1q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5q0-.5-.5-.5h-7q-.5 0-.5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5V23h.5m-.5.5V23h-2.5q-.5 0-.5.5v.5h2.5q.5 0 .5-.5m-3 1V24h-2.5q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5h1q.5 0 .5.5t.5.5h3q.5 0 .5-.5M18.5 15q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5v-1q0-.5-.5-.5t-.5.5-.5.5h-3q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t.5.5h5m15 1q.5 0 .5-.5t-.5-.5-.5-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h2"/>
  <path fill="none" d="M15 .5V0h18v.5q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-4q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5M34 .5V0h11v21h-6v-.5q0-.5-.5-.5h-1q-.5 0-.5-.5v-1-1-1q0-.5.5-.5h1q.5 0 .5-.5V15h-1.5q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1m5 14v.5h1.5q.5 0 .5-.5V14h-1.5q-.5 0-.5.5m2-1v.5h1.5q.5 0 .5-.5t-.5-.5h-1q-.5 0-.5.5M20 12.5q0-.5.5-.5t.5.5v1q0 .5-.5.5h-1q-.5 0-.5.5t-.5.5h-5q-.5 0-.5-.5t.5-.5h2q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5"/>
  <path d="M2 13.5q0-.5.5-.5h1q.5 0 .5.5v.5H2.5q-.5 0-.5-.5"/>
  <path fill="none" d="M27 13.5q0-.5.5-.5h2q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5.5.5q0 .5-.5.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5"/>
  <path d="M41 13.5q0-.5.5-.5h1q.5 0 .5.5t-.5.5H41v-.5M4 14.5V14h1.5q.5 0 .5.5v.5H4.5q-.5 0-.5-.5M39 14.5q0-.5.5-.5H41v.5q0 .5-.5.5H39v-.5"/>
  <path fill="none" d="M20 18.5q0-.5.5-.5h7q.5 0 .5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5V23h-1v-.5-1-1q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5M14 19.5q0-.5.5-.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5h1q.5 0 .5.5t.5.5H21v.5q0 .5-.5.5h-3q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1"/>
  <path d="M0 20.5V20h8v.5q0 .5-.5.5H0v-.5"/>
  <path fill="none" d="M8 20.5V20h.5q.5 0 .5.5v1q0 .5-.5.5t-.5.5v.5h.5q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5v.5H0V21h7.5q.5 0 .5-.5m0 3V23h-.5q-.5 0-.5.5v.5h.5q.5 0 .5-.5m-1 1V24H5.5q-.5 0-.5.5v.5h1.5q.5 0 .5-.5m-2 1V25H2.5q-.5 0-.5.5v.5h2.5q.5 0 .5-.5m-3 1V26h-.5q-.5 0-.5.5t.5.5q.5 0 .5-.5M31 21.5q0-.5.5-.5t.5.5v1q0 .5-.5.5H31v-.5-1M37 21.5q0-.5.5-.5H39v.5q0 .5.5.5H45v9H28v-.5q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5H36v-.5q0-.5-.5-.5t-.5-.5q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5m-.5 4.5H36v.5q0 .5.5.5H39v-.5q0-.5-.5-.5h-2m3 1H39v.5q0 .5.5.5h1q.5 0 .5-.5t-.5-.5h-1"/>
  <path d="M39 21.5V21h6v1h-5.5q-.5 0-.5-.5M7 23.5q0-.5.5-.5H8v.5q0 .5-.5.5H7v-.5"/>
  <path fill="none" d="M21 23.5q0-.5.5-.5H24v.5q0 .5-.5.5H21v-.5M25 23.5V23h1.5q.5 0 .5.5v.5h-1.5q-.5 0-.5-.5M30 23.5q0-.5.5-.5h.5v.5q0 .5-.5.5H30v-.5"/>
  <path d="M5 24.5q0-.5.5-.5H7v.5q0 .5-.5.5H5v-.5"/>
  <path fill="none" d="M27 24.5V24h3v.5q0 .5-.5.5h-2q-.5 0-.5-.5"/>
  <path d="M2 25.5q0-.5.5-.5H5v.5q0 .5-.5.5H2v-.5M1 26.5q0-.5.5-.5H2v.5q0 .5-.5.5t-.5-.5M36 26.5V26h2.5q.5 0 .5.5v.5h-2.5q-.5 0-.5-.5M39 27.5V27h1.5q.5 0 .5.5t-.5.5h-1q-.5 0-.5-.5"/>
</svg>
