  <script>
  export let fill="var(--accent-color)";
  export let scale=1;
  export let click;
  </script>


  <style>
  svg {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
</style>

  <svg xmlns="http://www.w3.org/2000/svg" width="53" height="67" fill={fill} transform="scale({scale})" on:click={click}>
  <path d="M0 .5V0h10v30.5q0 .5.5.5t.5.5V67H1v-.5-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5H0V.5"/>
  <path fill="none" d="M10 .5V0h15v.5q0 .5-.5.5h-4q-.5 0-.5.5V67h-9v-.5-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1"/>
  <path d="M25 .5V0h5v31h-.5q-.5 0-.5.5v34q0 .5-.5.5h-3q-.5 0-.5.5v.5h-5v-.5-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5h4q.5 0 .5-.5"/>
  <path fill="none" d="M29 31.5q0-.5.5-.5h.5v36h-5v-.5q0-.5.5-.5h3q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1M0 32.5V32h.5q.5 0 .5.5V67H0V32.5"/>
  </svg>
