  <script>
  export let scale = 1;
  export let fill= "var(--accent-color)";
  export let click;
</script>

  <style>
  svg {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
</style>

  <svg xmlns="http://www.w3.org/2000/svg" width="53" height="71" transform="scale({scale})" fill="{fill}" on:click={click}>
  <path d="M0 .5V0h1v.5q0 .5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h.5v1h-.5q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5v.5H1v-.5-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5H0V.5"/>
  <path fill="none" d="M1 .5V0h52v35h-.5q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5T9.5 6 9 5.5 8.5 5h-1Q7 5 7 4.5T6.5 4 6 3.5 5.5 3h-1Q4 3 4 2.5T3.5 2 3 1.5 2.5 1h-1Q1 1 1 .5M0 36.5V36h.5q.5 0 .5.5V71H0V36.5M52 36.5q0-.5.5-.5h.5v35H2v-.5q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5"/>
</svg>
