<script>
import { onMount } from 'svelte';
import { songIsland } from './stores/songIsland.js';
import { audio } from './stores/audio.js';
import { Router, Route } from "svelte-routing";

import Title from './pages/Title.svelte';
import Main from './pages/Main.svelte';
import Song from './pages/Song.svelte';
import Words from './pages/Words.svelte';
import Distro from './pages/Distro.svelte';
import Links from './pages/Links.svelte';
import Edit from './pages/Edit.svelte';

export let url = '';

onMount(() => {
    $audio.audio = document.querySelector('#audio-player');
})
</script>

<audio id='audio-player'
       src={$songIsland.src}
       bind:currentTime={$audio.time}
       bind:duration={$audio.duration}
       bind:paused={$audio.paused}>
       bind:this={$audio.audio}>
</audio>

<Router url="{url}">
  <Route path="/" component={Title} />
  <Route path="/main" component={Main} />
  <Route path="/song" component={Song}/>
  <Route path="/words" component={Words} />
  <Route path="/links" component={Links} />
  <Route path="/from-the-distro" component={Distro} />
  <Route path="/edit" component={Edit} />
  <Route path="/edit/:section" component={Edit} />
</Router>
