<script>
import { Router, Route } from "svelte-routing";
import Title from './pages/Title.svelte';
import Main from './pages/Main.svelte';
import Song from './pages/Song.svelte';
import Words from './pages/Words.svelte';
import Distro from './pages/Distro.svelte';
import Links from './pages/Links.svelte';
import Edit from './pages/Edit.svelte';

export let url = '';
export let audio;

</script>

<Router url="{url}">
  <Route path="/" component={Title} />
  <Route path="/main" component={Main} />
  <Route path="/song" component={Song}/>
  <Route path="/words" component={Words} />
  <Route path="/links" component={Links} />
  <Route path="/from-the-distro" component={Distro} />
  <Route path="/edit" component={Edit} />
  <Route path="/edit/:section" component={Edit} />
</Router>
